<h1>About Me</h1>

<hr>

<div class="row">
  <div clas="col-md-4">
    <img src="http://static.tumblr.com/8vasgzs/osCmf72q0/headphones-headphones-girl-short-hair-simple-background-anime-girls-fujishima-287641.png" width="" alt="Profile image" >
  </div>
  
  <div clas="col-md-8">
    <p>I'm just a begginner with Ruby code but I've got experiance with css and HTML.</p>

  </div>
  
</div>
