<h1>Contact Me</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Phone number</h1>
    
<p> <%= number_to_phone "09044444444" %></p>

<h3>Address</h2>

<p>Under DOA Recording Studios, Los Angeles</p>

<h3>Email</h2>

<p><a href="mailto:tazele@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

  </div>

  

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/place/Hollywood+Sign/@34.1340213,-118.3238652,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2bf0a45505a7d:0xabb7acc626709843!8m2!3d34.1341151!4d-118.3215482" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    
  </div>
</div>
