<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">This website is dedicated to alot of things, including me, me, and stuff.</p>
  <p class="lead">Have fun.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>